<div *ngIf="_isShow && position" class="side-slide-container  animate {{position}}" @ngIfSlideOutRight
    [style.width]= "width" [class.menu-right-full]="full">
  <!-- <div class="side-slide-move animate shadow-bottom-hover" @ngIfSlideInRight [class.left-shadow]="!fixed"> -->
    <mat-card class="side-slide-move animate shadow-bottom-hover" @ngIfSlideInRight [class.left-shadow]="!fixed">
    <div class="side-slide-title left-align {{titleClass}}" [class.shadow-bottom-hover]="isScroll">
      <button mat-button  (click)="closeClick()">
        <mat-icon>close</mat-icon>
      </button>
      <span *ngIf="title">
        {{title | translate}}
      </span>
    </div>
    <div class="side-slide-body" (scroll)="scrollSlideBody($event)">
      <div class="row">
        <div class="col s12 content-body">
            <ng-content></ng-content>
          </div>
        </div>
      </div>
    </mat-card>
  <!-- </div> -->
</div>
<div *ngIf="_isShow && modal" class="menu-right-modal">

</div>