<mat-form-field [style.width]="width">
  <input (keyup)="keyUp($event);" matInput [placeholder]="placeholder"
    [formControl]="ctrl" [maxlength]="maxlength" [type]="type"/>
  <mat-icon *ngIf="icon" matPrefix>{{icon}}</mat-icon>
  <mat-icon *ngIf="iconPassword" matSuffix (click)="showIconPassword();">{{iconPassword}}</mat-icon>
  <mat-error *ngIf="ctrl && ctrl.hasError('msgErro')">{{ctrl.getError("msgErro")}}</mat-error>
  <mat-hint *ngIf="ctrl && maxlength" align="end">{{ctrl.value.length}} / {{maxlength}}</mat-hint>
</mat-form-field>