<div class="row">
  <div class="menu-side">
    <span *ngFor="let link of list; let i = index">
      <mat-accordion *ngIf="link.group && link.isMenu">
        <mat-expansion-panel id="i">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="title-group">{{link.group}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item *ngFor="let l of link.links" (click)="navegation(l)" [class.selected]="l.selected">
              <mat-icon *ngIf="l.icon" mat-list-icon [matTooltip]="l.name" matTooltipPosition="right">{{l.icon}}</mat-icon>
              <a matLine >{{l.name}}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-nav-list>
        <mat-list-item *ngIf="!link.group && link.router && link.isMenu" (click)="navegation(link)" [class.selected]="link.selected">
          <mat-icon *ngIf="link.icon" mat-list-icon [matTooltip]="link.name" matTooltipPosition="right">{{link.icon}}</mat-icon>
          <a matLine >{{link.name}}</a>
        </mat-list-item>
      </mat-nav-list>
    </span>
  </div>
</div>