<div class="row">
  <br>
  <div class="col s12 offset-m2 m8 offset-l4 l4">
    <div [formGroup]="formLogin">
      <mat-card style="overflow: hidden;" >
        <mat-card-header>
        </mat-card-header>
        <mat-card-content>
          <img src="assets/logomarcamumpspreta.png" height="40rem">
          <!-- Tela para informar o usuário -->
          <div *ngIf="!user.name" @ngIfFade>
            <br>
            <h2>{{"ENTER" | translate}}</h2>
            <m-input (onKeyUp)="$event.keyCode == 13 && loginControl.value.length > 0 && proximo()" 
              [ctrl]="loginControl" placeholder="TYPE_LOGIN" maxlenght="60"></m-input>
          </div>
          <div *ngIf="user.name" @ngIfFade>
            <br>
            <h4 style="margin-bottom: 0rem;font-weight: 400;">{{"WELCOME" | translate}}</h4>
            <h2 style="margin-top: 0rem;"> {{user.name}}</h2>
            <m-input (onKeyUp)="$event.keyCode == 13 && passwordControl.value.length > 0 && login()"
              [ctrl]="passwordControl" type="password" placeholder="TYPE_PASSWORD" maxlenght="30"></m-input>
          </div>
         
        </mat-card-content>
        <mat-card-actions>
          <!-- Tela para informar o usuário -->
          <div *ngIf="!user.name" class="col s12"  @ngIfFade>
            <button mat-button (click)="proximo()" [disabled]="!loginControl.valid">
              <mat-icon>chevron_right</mat-icon>
              {{"PROXIMO" | translate}}
            </button>
          </div>
          <!-- Tela para informar a senha -->
          <div *ngIf="user.name" class="col s12"  @ngIfFade>
            <button mat-button (click)="voltar()">
              <mat-icon>chevron_left</mat-icon>
              {{"VOLTAR" | translate}}
            </button>
            <button mat-button (click)="login()" [disabled]="!passwordControl.valid">
              <mat-icon>send</mat-icon>
              {{"LOGIN" | translate}}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
