<h2 mat-dialog-title>
    <mat-icon *ngIf="data.icon">{{data.icon}}</mat-icon> {{data.title}}
</h2>
<mat-dialog-content>
  <div [style.width]="data.width">
    {{data.msg}}
  </div>
</mat-dialog-content>
<mat-dialog-actions class="right-align" *ngIf="data.btns && data.btns.length > 0">
    <button mat-button *ngFor="let b of data.btns" (click)="onclickButton(b);">
      <mat-icon *ngIf="b.icon">{{b.icon}}</mat-icon>
        {{b.text | translate}}
    </button>
</mat-dialog-actions>