<div class="dark-primary-pink2">
    <div class="back-toolbar" [class.scroll-up]="scrollUp"></div>
    <mat-toolbar color="primary" [class.hide]="!isLogged"  class="example-toolbar mat-elevation-z4 animate" @ngIfFade @ngIfFadeOut>
      <button *ngIf="isPagesRoot" mat-icon-button (click)="showMenuSide = !showMenuSide" style="margin-left: 0.3rem;"><mat-icon>menu</mat-icon></button>
      <button *ngIf="!isPagesRoot" mat-icon-button (click)="backPage()" ><mat-icon>arrow_back</mat-icon></button>
      <div class="logo-marca mouse-click">
        <img (click)="navegation('/home')" src="assets/logomarcamumpsbranca.png" height="25rem" >
      </div>
      <div *ngIf="title" class="titulo-pagina" @ngIfFade @ngIfFadeOut>{{title}}</div>
      <div class="menu-right">
          <!-- Ações que serão limpas ao carregar uma router. -->
          <span *ngFor="let action of menuActions">
              <button *ngIf="action.links" mat-button [matMenuTriggerFor]="actionMenu"
                [matTooltip]="action.tooltip" matTooltipPosition="left" [matBadgeHidden]="!action.badge"
                [matBadge]="action.badge" matBadgeColor="warn"
                (click)="clickAction(action);" @ngIfFade>
                <mat-icon>{{action.icon}}</mat-icon>
                <span>{{action.label}}</span>
                <mat-menu #actionMenu="matMenu">
                  <button *ngFor="let link of action.links" [class.not-read]="link.notRead"
                    (click)="clickAction(link);" mat-menu-item>
                    <mat-icon>{{link.icon}}</mat-icon>
                    <span> {{link.label}}</span>
                  </button>
                </mat-menu>
              </button>
              <button *ngIf="!action.links" 
                [matTooltip]="action.tooltip" mat-button matTooltipPosition="left" [matBadgeHidden]="!action.badge"
                [matBadge]="action.badge" matBadgeColor="warn"
                (click)="clickAction(action);" @ngIfFade>
                <mat-icon>{{action.icon}}</mat-icon>
                <span> {{action.label}}</span>
              </button>
            </span>
    
          <!-- Açoes que irão ficar fixas -->
          <span *ngFor="let action of fixedMenuActions">
            <button *ngIf="action.links" mat-button [matMenuTriggerFor]="fixedActionMenu"
              [matTooltip]="action.tooltip" matTooltipPosition="left" [matBadgeHidden]="!action.badge"
              [matBadge]="action.badge" matBadgeColor="warn"
              (click)="clickAction(action);" @ngIfFade>
              <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
              <span *ngIf="action.label">{{action.label}}</span>
              <mat-menu #fixedActionMenu="matMenu">
                <button *ngFor="let link of action.links" [class.not-read]="link.notRead"
                  (click)="clickAction(link);" mat-menu-item @ngIfFade>
                  <mat-icon *ngIf="action.icon">{{link.icon}}</mat-icon>
                  <span *ngIf="action.label"> {{link.label}}</span>
                </button>
              </mat-menu>
            </button>
            <button *ngIf="!action.links" 
              [matTooltip]="action.tooltip" mat-button matTooltipPosition="left" [matBadgeHidden]="!action.badge"
              [matBadge]="action.badge" matBadgeColor="warn"
              (click)="clickAction(action);" @ngIfFade>
              <mat-icon *ngIf="action.icon">{{action.icon}}</mat-icon>
              <span *ngIf="action.label"> {{action.label}}</span>
            </button>
          </span>
    
          <!-- Informações do usuário -->
        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
          <span> {{user?.login}}</span>
        </button>
        <mat-menu #menu>
          <span mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>{{user?.name}}</span>
          </span>
          <a mat-menu-item>
            <mat-icon>create</mat-icon>
            <span>Alterar senha</span>
          </a>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>
    
    <div ngxUiLoaderBlurred blur="10" *ngIf="showRoutes" @ngIfFade @ngIfFadeOut class="page-root animate" [ngClass]="{'show-menu-side': showMenuSide}">
      <router-outlet (activate)='routerActived($event)'></router-outlet>
    </div>
    <ngx-ui-loader></ngx-ui-loader>
    <m-menu-left [class.hide]="!isLogged" modal="true" fixed="true" (close)="showMenuSide = !showMenuSide" [isShow]="showMenuSide" 
      fixed="true" bgImageTop="https://mundoeducacao.bol.uol.com.br/upload/conteudo_legenda/26158ff127c11bdf21a8336a1c7909d2.jpg"
       bgImage="assets/img-bg-menu-side.jpg" [class.scroll-up]="scrollUp" bgColor="black" dark="true">
      <m-list-item-menu-left [list]="links" color="#fff"></m-list-item-menu-left>
    </m-menu-left>
    <!-- <ngx-loading-bar color="#f44336"></ngx-loading-bar> -->

</div>