<div class="fast-info">
  <div class="container-fast-info">
    <div *ngIf="icon" class="icon-fast-info">
      <mat-icon class="color-accent">{{icon}}</mat-icon>
    </div>
    <div class="body-fast-info">
      <div *ngIf="title" class="title-body-fast-info color-accent">
        {{title}}
      </div>
      <div *ngIf="label" class="label-body-fast-info">
        {{label}}
      </div>
    </div>
  </div>
  <div class="content-fast-info">
    <ng-content></ng-content>
  </div>
</div>