@import "../../../../load-theme.scss";
.side-slide-container{
    position: fixed;
    height: 100%;
    top: 56px;
    bottom: 0em; 
    display: block;
    z-index: 1030;
}
.side-slide-container.left{
    left: 0em;
}

.side-slide-container.menu-left-full{
    top: 0em;
}

.side-slide-move{
    position: relative;
    height: 100%;
    top: 0em;
    bottom: 0em;
    width: 100%;
    display: block;
    background-color: rgba(242, 242, 242, 1);
}

.side-slide-title-left{
    height: 2.5rem;
    position: absolute;
    z-index: 100;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 800;
    padding-top: 0.8rem;
    padding-left: 1.5rem;
}

.side-slide-body{
    height: 100%;
    width: 100%;
    position: absolute;
    // margin-top: 3.6rem;
    z-index: 10;
    overflow: auto;
    padding-bottom: 20%;    
}

.menu-left-modal{
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1020;
    will-change: opacity;
}
.menu-left-full{
    top: 0;
}

.shadow-bottom-hover{
    box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.25), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.2) !important;
    -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.25), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.2) !important;
    -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.3), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.25), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.2) !important;
}

.right-shadow{
    box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -moz-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0.2em 0em 0.3em 0em rgba(0, 0, 0, 0.15), 0.4em -0em 0.4em 0em rgba(0, 0, 0, 0.1), 0.4em -0em 0.5em 0em rgba(0, 0, 0, 0.15) !important;
}

.left .content-body{
    padding-left: 0.5rem !important;
    padding-bottom: 15%;    
}

.button-close-menu-left{
    position: absolute;
    z-index: 100;
    right: -3rem;
    top: 1rem;
    background-color: #fff;
    border-radius: 0.1rem;
    min-width: 2rem !important;
    max-width: 2rem !important;
    min-height: 2rem !important;
    max-height: 2rem !important;
    padding: 0rem 0.3rem;
    border-radius: 50%;
    .material-icons{
        position: relative;
        font-size: 1.4rem;
        color: black;
        top: -0.1rem;
        left: -0.05rem;
    }
}

.image-background-top{
    height: 7rem;
    position: absolute;
    z-index: 100;
}

.img-top{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    position: relative;
    left: 5.25rem;
    top: 1rem;
}

.bg-image-menu-side{
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity:0.15;
    -moz-opacity: 0.15;
    filter: alpha(opacity=1.5);
}

.float-slider-body{
    padding-top: 7rem !important;
}

.dark{
    .button-close-menu-left{
        background-color: rgba(0, 0, 0, 0.7);  
        .material-icons{
            color: mat-color($accent);
        }
    }
    .image-background-top{
        color: #fff;
    }
    .shadow-bottom-hover{
        box-shadow: 0em 0.1em 0.3em 0.15em rgba(mat-color($accent), 0.2), 0em 0.2em 0.4em 0.3em rgba(mat-color($accent), 0.1), 0em 0.3em 0.5em 0.5em rgba(mat-color($accent), 0.08) !important;
        -moz-box-shadow: 0em 0.1em 0.3em 0.15em rgba(mat-color($accent), 0.2), 0em 0.2em 0.4em 0.3em rgba(mat-color($accent), 0.1), 0em 0.3em 0.5em 0.5em rgba(mat-color($accent), 0.08) !important;
        -webkit-box-shadow: 0em 0.1em 0.3em 0.15em rgba(mat-color($accent), 0.2), 0em 0.2em 0.4em 0.3em rgba(mat-color($accent), 0.1), 0em 0.3em 0.5em 0.5em rgba(mat-color($accent), 0.08) !important;
    }
}