<!-- <div class="page">
  <p>
    Bem vindos ao Home
    <button mat-button (click)="open= !open">Open</button>
    <a mat-button (click)="addBtnP();" class="pulse"><i class="material-icons">menu</i></a>
    <a mat-button (click)="addSubLink();" class="pulse"><i class="material-icons">menu</i> Sub Link</a>
  </p>
</div>
<m-menu-right [isShow]="open" width="30%" fixed="true" title="{{'PESQUISAR' | translate}}">
    <mat-icon>android</mat-icon>
</m-menu-right> -->

<div class="row">
  
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="android" title="Gasto Mês">
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="face" title="Gasto Mês">
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="list" title="Gasto Mês">
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="row col s12 m6 l6 xl6" >
    <mat-card>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="line" [labels]="labelsLineBar" ></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl6">
    <mat-card>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="horizontalBar" [labels]="labelsLineBar"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="edit" title="Gasto Mês">
            <br>
          <m-chart [data]="dataFastInfo1" [labels]="labelsFastInfo1" typeChart="line"></m-chart>
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="face" title="Gasto Mês">
            <br>
          <m-chart [data]="dataFastInfo1" [labels]="labelsFastInfo1" typeChart="pie"></m-chart>
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-content>
        <m-fast-info label="US$ 1.840,00" icon="trash" title="Gasto Mês">
          <br>
          <m-chart [data]="dataFastInfo1" [labels]="labelsFastInfo1" typeChart="bar"></m-chart>
        </m-fast-info>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Pie</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataPie" typeChart="pie" [labels]="labelsPie" title="Pie"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Doughnut</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataPie" typeChart="doughnut" [labels]="labelsPie"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Line</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="line" [labels]="labelsLineBar" ></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>horizontalBar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="horizontalBar" [labels]="labelsLineBar"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="bar" [labels]="labelsLineBar"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Radar</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataLineBar" typeChart="radar" [labels]="labelsLineBar" ></m-chart>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row col s12 m6 l6 xl4">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bubble</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <m-chart [data]="dataBubble" typeChart="bubble" [labels]="labelsLineBar"></m-chart>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col s12">
    <m-table [list]="list2" isSelected="true" size="s" height="10em">
      <m-head-table width="10%" minWidth="2rem" icon="work"></m-head-table>
      <m-head-table width="10%" minWidth="2rem" image="image"></m-head-table>
      <m-head-table minWidth="15rem" width="48%" label="Nome" field="name"></m-head-table>
      <m-head-table minWidth="6rem" width="13%" label="Data Nasc." field="birthDate" date="true"></m-head-table>
      <m-head-table align="center" minWidth="5rem" width="13%" label="Mês Aniv." field="birthDayMonth"></m-head-table>
      <m-head-table align="center" minWidth="5rem" width="13%" label="Hora Ex." field="extaHour"></m-head-table>
      <m-head-table align="center" minWidth="5rem" width="13%" label="Idade" field="age"></m-head-table>
      <m-head-table align="center" minWidth="7rem" width="13%" label="Salário B." currency="true" field="baseSalary"></m-head-table>
    </m-table>
  </div>
  <div class="col s12">
    <br>
    <m-table [list]="list2" isSelected="true" headFixed="true">
      <m-head-table width="10%" minWidth="2rem" icon="swap_horizontal_circle"></m-head-table>
      <m-head-table width="10%" minWidth="2rem" image="image"></m-head-table>
      <m-head-table label="Nome" field="name"></m-head-table>
      <m-head-table label="Mês Aniv." field="birthDayMonth"></m-head-table>
      <m-head-table label="Hora Ex." field="extaHour"></m-head-table>
      <m-head-table label="Salário B." field="baseSalary"></m-head-table>
      <m-head-table label="Idade" field="age"></m-head-table>
    </m-table>
  </div>
  <div class="col s12">
    <br>
    <m-table [list]="list2" isSelected="true" size="l" headFixed="true">
      <m-head-table width="10%" minWidth="2rem" icon="pan_tool"></m-head-table>
      <m-head-table width="10%" minWidth="2rem" image="image"></m-head-table>
      <m-head-table label="Nome" field="name"></m-head-table>
      <m-head-table label="Mês Aniv." field="birthDayMonth"></m-head-table>
      <m-head-table label="Hora Ex." field="extaHour"></m-head-table>
      <m-head-table label="Salário B." field="baseSalary"></m-head-table>
      <m-head-table label="Idade" field="age"></m-head-table>
    </m-table>
  </div>
  <div class="col s12">
    <br>
    <m-table [list]="list2" isSelected="true" size="xl">
      <m-head-table width="10%" minWidth="2rem" icon="network_check"></m-head-table>
      <m-head-table width="10%" minWidth="2rem" image="image"></m-head-table>
      <m-head-table label="Nome" field="name"></m-head-table>
      <m-head-table label="Mês Aniv." field="birthDayMonth"></m-head-table>
      <m-head-table label="Hora Ex." field="extaHour"></m-head-table>
      <m-head-table label="Salário B." field="baseSalary"></m-head-table>
      <m-head-table label="Idade" field="age"></m-head-table>
    </m-table>
  </div>
</div>