<div class="row">
  <div class="col s12">
    <m-table isDelete="true" [(data)]="dataContactType" (loadTable)="updateTable($event);" headFixed="true" infinity="true">
        <m-head-table label="NAME" field="name" sort="true" width="100%"></m-head-table>
        <m-head-table *ngIf="!canEdit" btn="true" (onClick)="showCadContactType($event)" icon="edit"></m-head-table>
        <m-head-table *ngIf="!canDelete" btn="true" (onClick)="showRemove($event)" icon="delete"></m-head-table>
      </m-table>
    </div>
</div>
<!-- *************** Menu lateral de pesquisa -->
<m-menu-right [isShow]="showFilter" full="true" title="{{'SEARCH' | translate}}">
     <mat-form-field class="col-100">
       <input matInput placeholder="{{'NAME' | translate}}" [(ngModel)]="listFilters.name"
        (keyup)="$event.keyCode == 13 && listFilters.name.length > 0 && listContactTypes()">
     </mat-form-field>
     <button mat-button (click)="clearFilter()" [disabled]="">
      <mat-icon>clear_all</mat-icon>
      {{"CLEAN" | translate}}
    </button>
    <button mat-button (click)="listContactTypes()">
      <mat-icon>search</mat-icon>
      {{"SEARCH" | translate}}
    </button>
</m-menu-right>
<div *ngIf="!app.scrollUp" class="float-button-right-bottom" @ngIfScaleIn @ngIfScaleOut>
  <button mat-fab color="primary" (click)="showCadContactType(null);">
    <mat-icon>add</mat-icon>
  </button>
</div>