@import "../../../load-theme.scss";

$table-border-color: rgba(0,0,0,.12) !default;
$table-striped-color: rgba(mat-color($accent), 0.5) !default;
$table-hover-tr-color: rgba(mat-color($accent), 0.1) !default;
$table-selected-tr-color: rgba(mat-color($accent), 0.1) !default;



.container-table{
    padding: 0rem 0.1rem;
    // background-color: #fff;
    position: relative;
    overflow: hidden;
}
.body-table{
    position: relative;
    overflow: auto;
}

table {
    width:100%;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    &.striped {
      tr {
        border-bottom: none;
      }
  
      > tbody {
        > tr:nth-child(odd) {
          background-color: $table-striped-color;
        }
        > tr > td {
          border-radius: 0;
        }
      }
    }
  
    &.highlight > tbody > tr {
      transition: background-color .25s ease;
    //   &:hover {
    //     background-color: $table-striped-color;
    //   }
    }
  
    &.centered {
      thead tr th, tbody tr td {
        text-align: center;
      }
    }
    tr {
      border-bottom: 0.05rem solid $table-border-color;
    }
    
    td, th{
      display: table-cell;
      text-align: left;
      vertical-align: middle;
      border-radius: 0px !important;
      padding: 1rem;
      font-size: 1rem;
      .mat-button{
          margin: -1rem -0.5rem -0.5rem -1rem !important;
          .material-icons{
              font-size: 1.6rem;
              top: 0rem !important;
              left: -0.05rem !important;
          }
      }
    }
    th{
        font-weight: 500 !important;
    }
    
    &.table-size-s th, &.table-size-s td{
        font-size: 0.8rem !important;
        padding: 0.8em;
        .mat-button{
            width: 2.2rem;
            height: 2.2rem;
            .material-icons{
                font-size: 1.4rem;
                left: 0.05rem !important;
            }
        }
    }

    &.table-size-l th, &.table-size-l td{
        font-size: 1.2rem !important;
        padding: 1.1em;
        .mat-button{
            width: 3.2rem;
            height: 3.2rem;
            margin: -1rem -0.5rem -1rem -1rem;
            .material-icons{
                font-size: 2rem;
                top: -0.3rem !important;
                left: -0.2rem !important;
            }
        }
    }

    &.table-size-xl th, &.table-size-xl td{
        font-size: 1.4rem !important;
        padding: 1.2em;
        .mat-button{
            width: 3.5rem;
            height: 3.5rem;
            margin: -1rem -0.5rem -1rem -1rem;
            .material-icons{
                font-size: 2.3rem;
                top: -0.3rem !important;
                left: -0.4rem !important;
            }
        }
    }
  }
  

.th-titulo{
    // border-bottom: 0.15rem solid $table-border-color;
    padding: 1rem;
}

td img{
    width: 2.5rem;
    height: 2.5rem;
    margin: -0.9rem -1.7rem;
    border-radius: 50%;
    overflow: hidden;
    border: 0.05rem solid rgba(255, 255, 255, 1);
    &.image-size-s{
        width: 1.8rem;
        height: 1.8rem;
        margin: -0.65rem 0rem;
    }
    &.image-size-l{
        width: 3.3rem;
        height: 3.3rem;
        margin: -1.3rem -2.8rem;
    }
    &.image-size-xl{
        width: 4.3rem;
        height: 4.3rem;
        margin: -1.7rem 0rem;
    }
}

.sem-resultado{
    padding: 0.5rem;
    // background-color: rgba(255,255,255,1);
}

.select-limit .select-wrapper{
    width: 2.8rem;    
}

table th, table td, table td .mat-button{
    color: rgba(#9e9e9e, 1);
    font-weight: 400;
    .material-icons{
        top: -0.25rem;
        left: -0.25rem;
    }
}

table td .mat-icon-button{
    z-index: 100;
}
table th i, table td .material-icons{
    position: relative;
    margin: -2rem -1.7rem;
    font-size: 2rem;
    top: 0.7rem;
    &.icon-size-s{
        font-size: 1.4rem;
        top: 0.45rem
    }
    &.icon-size-l{
        font-size: 2.5rem;
        top: 0.85rem
    }
    &.icon-size-xl{
        font-size: 3.5rem;
        top: 1.2rem;
        margin: -2rem 0rem;
    }
}
table th i, table td .mat-button, .table-footer .mat-button{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: -0.5rem -0.2rem;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    min-width: 0;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    flex-shrink: 0;
}

table tr:hover td, table tr:hover td .mat-button:not([disabled]){
    color: rgba(mat-color($accent), 0.7);
    // background-color: $table-hover-tr-color;
    .mat-button:hover{
        background-color: mat-color($accent);
        color: #fff;
    }
}
.active-th{
    font-weight: 600 !important;
    color: mat-color($accent) !important;
}
table tr th:hover, table tr th.active-th{
    color: mat-color($primary);
}
table tr th .material-icons{
    font-size: 1.2rem;
    margin: -1rem;
    margin-left: -0.3rem;
    top: 0.15rem;

}

table .th-table{
    display: flex;
    align-items: center;
}

.th-mouse-hover{
    cursor: pointer;
}

tr.tr-selected{
    background-color: mat-color($accent) !important;
    border-radius: 0.3rem;
    & td{color: #fff};
    .mat-button{color: #fff !important;}
    & td .mat-button:hover{
        background-color: #fff !important;
        color: mat-color($accent) !important;
    }
}

tr.tr-selected:hover{
    background-color: rgba(mat-color($accent), 0.8) !important;
    border-radius: 0.3rem;
    & td{
        color: #fff !important;
        .mat-button{
            color: #fff !important;
            &:hover{
                color: mat-color($accent) !important;
            }
        }
    };
}

table, th, td {
    border: none;
}

.table-footer{
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0.3rem 0.5rem;
    overflow: hidden;
    // background-color: rgba(255, 255, 255, 1);
    color: rgba(#9e9e9e, 1);
    .select-limit{
        top: -1.3rem !important;
        padding-left: 0.2rem;
    }
    .mat-form-field{
        height: 2.5rem;
        top: -0.5rem;
    }
    .linhas-por-paginas{
        padding-right: 0.5rem;
    }
    .total-rows{
        padding-right: 0.5rem;
        padding-top: 0.3rem;
    }
    &  div:not(:nth-child(1n + 5)){
        padding-top: 0.3rem;
    }
    .mat-button:not([disabled]):hover{
        color: mat-color($accent) !important;
    }
}

.table-footer > div{
    margin-left: 1rem;
    height: 1.6em;
}
.padding{
    padding: 0.5rem;
}

.left-shadow{
    box-shadow: -0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), -0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), -0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
    -moz-box-shadow: -0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), -0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), -0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: -0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), -0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), -0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
}

.right-shadow{
    box-shadow: 0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), 0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), 0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), 0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), 0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0.2em 0em 0.2em -0.15em rgba(0, 0, 0, 0.2), 0.4em 0em 0.45em 0.05em rgba(0, 0, 0, 0.14), 0.15em 0em 6em 1em rgba(0, 0, 0, 0.12);
}
.shadow-bottom-hover{
    box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.13), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.09), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.05) !important;
    -moz-box-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.13), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.09), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.05) !important;
    -webkit-shadow: 0em 0.2em 0.3em 0em rgba(0, 0, 0, 0.13), 0em 0.4em 0.4em 0em rgba(0, 0, 0, 0.09), 0em 0.4em 0.5em 0em rgba(0, 0, 0, 0.05) !important;
}

.shadow-left{
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    left: -1rem;
    width: 0.5rem;
    background-color: #fff;
    z-index: 800;
}
.shadow-left.show{left: -0.5rem;}
.shadow-right{
    position: absolute;
    top: 0rem;
    bottom: 0rem;
    right: -1rem;
    width: 0.5rem;
    background-color: #fff;
    z-index: 800;
}
.shadow-right.show{right: -0.5rem;}

.table-float-head{
    top: 0rem;
    position: absolute;
    width: 100%;
    display: inherit;
    z-index: 10;
    border-radius: 0rem;
}
.range-page{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    top: -0.2rem !important;
    div{
        padding-right: 0.5rem;
    }
}
.mat-card{
    padding: 0rem !important;
}

@media (max-width: 780px) {
    .linhas-por-paginas{
        margin-right: 0rem !important;
    } 
    .table-footer > div{
        margin-left: 0.2rem !important;
        font-size: 0.8rem !important;
    }
    
    .table-footer .linhas-por-paginas{
        padding-right: 0rem !important;
    }
    .range-page{
        padding-left: 0.5rem !important;
    }
}
