@import "load-theme.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
     background-color: rgba(desaturate(mat-color($primary), 30%), 0.1);
     overflow-x: hidden;
     height: calc(100% - 0em);
}
// @import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "grid-materialize";

/* larguras para ajudar nas construcoes da tela */
.col-1{width: 1%;} .col-2{	width: 2%;} .col-3{	width: 3%;} .col-4{	width: 4%;} .col-5{	width: 5%;}
.col-6{	width: 6%;} .col-7{	width: 7%;} .col-8{	width: 8%;} .col-9{	width: 9%;} .col-10{width: 10%;}
.col-15{width: 15%;} .col-20{width: 20%;} .col-25{width: 25%;} .col-30{width: 30%;} .col-35{width: 35%;}
.col-40{width: 40%;} .col-45{width: 45%;} .col-50{width: 50%;} .col-55{width: 55%;} .col-60{width: 60%;}
.col-65{width: 65%;} .col-70{width: 70%;} .col-75{width: 75%;} .col-80{width: 80%;} .col-85{width: 85%;}
.col-90{width: 90%;} .col-95{width: 95%;} .col-100{width: 100%;}
// Animações
$sleep-fast: 300ms; $sleep: 500ms; $sleep-slow: 1s; $sleep-more-slow: 1.5s; $sleep-very-slow: 2.5s;

@mixin animate($time){
    -webkit-transition: all $time ease;
    -o-transition: all $time ease;
    -ms-transition: all $time ease;
    -moz-transition: all $time ease;
    transition: all $time ease;
 }
 
 @mixin set-scale($scale){
     -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
     -ms-transform: scale($scale);
      -o-transform: scale($scale);
         transform: scale($scale);
 }
 
 @mixin set-rotate($rotate){
     -webkit-transform: rotate($rotate);
     -moz-transform: rotate($rotate);
     -ms-transform: rotate($rotate);
     -o-transform: rotate($rotate);
     transform: rotate($rotate);
 }
 
 
 .animate-fast{@include animate($sleep-fast)} .animate{@include animate($sleep)} .animate-slow{@include animate($sleep-slow)}
 .animate-more-slow{@include animate($sleep-more-slow)} .animate-very-slow{@include animate($sleep-very-slow)}
 
 
 .animate-zoom-in{
     @include set-scale(1);	
     animation: animate-zoom-in 0.5s  ease 1;
     -webkit-animation: animate-zoom-in 0.5s  ease 1;
     
 } 
 .animate-zoom-out{
     animation: animate-zoom-out 0.5s  ease;
     -webkit-animation: animate-zoom-out 0.5s  ease;
 } 
 .animate-zoom{
     @include set-scale(0);	
 }

.menu-right{
    .mat-badge-medium.mat-badge-above .mat-badge-content{
       top: -0.1rem !important;
    }
    .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
       right: -0.3rem;
    }
}

//****************************** Barra de Scroll ************
::-webkit-scrollbar {
    width: 0.5rem ;
    height: 0.5rem ;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {background-color: rgba(mat-color($primary), 0.2) !important;}
::-webkit-scrollbar-thumb:hover { background-color: rgba(desaturate(mat-color($primary), 30%), 0.8) !important;}
::-webkit-scrollbar-track { background-color: #F5F5F5 !important;}
.scroll-up + .example-toolbar { margin-top: -3.5rem !important;}
.scroll-up .side-slide-container{ top: -0rem !important;}
//****************************** Botões
.float-button-right-bottom{
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
}

.mouse-click{
    cursor: pointer;
}
//  **************************** classes do Materilize ************************
.truncate {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-drawer-container{
    background-color: transparent !important;
}

.mat-dialog-title {
    display: flex !important;
    align-items: center;
    .material-icons{
        padding-right: 0.5rem;
    }
}

.mat-dialog-actions{
    justify-content: flex-end;
    padding-top: 2rem !important;
}

.mat-form-field, .mat-form-field-wrapper, .mat-form-field-infix{
    padding-top: 0.5rem !important;
}
.mat-card{
    padding: 1.5rem !important;
}
.mat-card-actions{
    text-align: right;
}
//  **************************** Classe ajuda ************************
.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.blur{
    -webkit-filter: blur(0.3rem);
    -moz-filter: blur(0.3rem);
    -o-filter: blur(0.3rem);
    -ms-filter: blur(0.3rem);
    filter: blur(0.3rem);
}

[aria-hidden="true"]  .page-root .row{ 
    -webkit-filter: blur(0.3rem);
    -moz-filter: blur(0.3rem);
    -o-filter: blur(0.3rem);
    -ms-filter: blur(0.3rem);
    filter: blur(0.3rem);
}
//  **************************** Ajustes no Menu Lateral ************************
.page-root{
    position: relative;
    left: 3.1rem !important; 
    width: calc(100% - 3.1em);
}

.page-root.show-menu-side{
    left: 16.1rem !important;
}

.side-slide-container.left{
    width: 16rem !important; 
    .menu-side{
        padding: 0.2rem 0.3rem;
    }
    .mat-expansion-panel{
        box-shadow: none;
        background-color: transparent;
        &.mat-expanded{
            box-shadow: 0em 0.15em 0.3em 0.2em rgba(0, 0, 0, 0.2), 0em 0.4em 0.4em 0.3em rgba(0, 0, 0, 0.12), 0em 0.4em 0.5em 0.5em rgba(0, 0, 0, 0.05) !important;
            -moz-box-shadow:  0em 0.15em 0.3em 0.2em rgba(0, 0, 0, 0.2), 0em 0.4em 0.4em 0.3em rgba(0, 0, 0, 0.12), 0em 0.4em 0.5em 0.5em rgba(0, 0, 0, 0.05) !important;
            -webkit-box-shadow:  0em 0.15em 0.3em 0.2em rgba(0, 0, 0, 0.2), 0em 0.4em 0.4em 0.3em rgba(0, 0, 0, 0.12), 0em 0.4em 0.5em 0.5em rgba(0, 0, 0, 0.05) !important;
           
          .mat-expansion-panel-header *{
            font-weight: 500 !important;
          }
        }
        .mat-expansion-panel-body{
            padding: 0rem !important;
            .mat-list-item-content{
                padding: 1rem 1rem !important;
            }
        }
    }
    & .mat-list-item-content{
        padding: 1rem 1rem !important;
    }
    .selected{
        background-color: rgba(mat-color($accent), 0.8) !important;
        color: #fff !important;
        border-radius: 0.3rem;
        &:hover, &:focus{
         background-color:  rgba(mat-color($accent), 1) !important;
        }
        & *{
            color: #fff !important;
        }
     }
     .mat-list-item{
        height: 2.8rem !important;
     }
     &.dark{
        & * , & *:after{
            font-weight: 300;
            color: rgba(#fff, 0.7);
        }

        .mat-expansion-panel-header:hover, .mat-list-item-content:hover{
            .title-group, .mat-list-text *, .material-icons{
                color: rgba(#fff, 1) !important;
                font-weight: 500 !important;
            }
        }
        .mat-expansion-panel:hover{
            font-weight: 500;
            color: rgba(#fff, 1);
            & :after{
                font-weight: 500;
                color: rgba(#fff, 1);
            }
        }
        .mat-expansion-panel{
            &.mat-expanded{
                margin-top: 0.5rem;
                box-shadow: 0em 0.15em 0.3em 0.2em rgba(mat-color($accent), 0.2), 0em 0.4em 0.4em 0.3em rgba(mat-color($accent), 0.12), 0em 0.4em 0.5em 0.5em rgba(mat-color($accent), 0.05) !important;
                -moz-box-shadow: 0em 0.15em 0.3em 0.2em rgba(mat-color($accent), 0.2), 0em 0.4em 0.4em 0.3em rgba(mat-color($accent), 0.12), 0em 0.4em 0.5em 0.5em rgba(mat-color($accent), 0.05) !important;
                -webkit-box-shadow: 0em 0.15em 0.3em 0.2em rgba(mat-color($accent), 0.2), 0em 0.4em 0.4em 0.3em rgba(mat-color($accent), 0.12), 0em 0.4em 0.5em 0.5em rgba(mat-color($accent), 0.05) !important;
            }
            .mat-expansion-panel-header *{
                color: rgba(#fff, 1) !important;
            }
        }
    }
}

.side-slide-container.side-slide-hiden{
    .menu-side{
        .material-icons {
            font-size: 1.2rem !important;
        }
        width: 2.4rem !important;
    }
    width:  3rem !important;
    .mat-list-item-content{
        padding: 0.4rem 0.4rem !important;
        height: auto !important;
    }
    .mat-expansion-panel .mat-expansion-panel-body .mat-list-item-content {
        padding: 0.4rem 0.4rem !important;
        height: auto !important;
    }
    
    .mat-expansion-panel .mat-expansion-panel-header {
        padding: 1rem 1rem !important;
        height: auto !important;
    }
    .mat-list-item{
        height: 2.5rem !important;
    }
    .img-top{
        left: -8rem;
    }
}
// @media (max-width: 580px) {
    // }
    //  **************************** Fim Ajustes no Menu Lateral ************************
.table-footer{
    .mat-select-value{
        min-width: 1.4rem !important;
        font-size: 0.8rem !important;
    }    
}
@media (max-width: 780px) {
    .side-slide-container.left.side-slide-hiden{
        left: -3rem !important;
    }
    .page-root.show-menu-side, .page-root{
        left: 0rem !important;
        width: calc(100% - 0em);
    }
    .row{
        margin-bottom: 0.5rem;
        padding-right: 0.25rem !important;
        padding-left: 0.25rem !important;
    }
}


